<div class="container">
  <div class="header">
    <h1>Bonjour: {{technicien.nom}} {{technicien.prenom}}</h1>

    <button id="logout-button" (click)="navigateTo('')">Déconnexion</button>
  </div>
    <table>

      <thead>
      <tr>
        <th>Numéro de ticket</th>
        <th>Description</th>
        <th>Date de création</th>
        <th>Priorité</th>
        <th>État du ticket</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ticket.numTicket}}</td>
        <td >{{ticket.description}}</td>
        <td>{{ticket.dateCreation | date}}</td>
        <td>{{ticket.priorite}}</td>
        <td>{{ticket.etatTicket}}</td>
      </tr>
      </tbody>
    </table>

    <form>
      <div class="input-group">
        <label for="ticketNum">Numéro du ticket:</label>
        <input type="number" id="ticketNum" [(ngModel)]="numTicket" name="numTicket">
      </div>

      <div class="input-group">
        <label for="duration">Durée de l'intervention (en minutes):</label>
        <input type="number" id="duration" [(ngModel)]="duration" name="duration">
      </div>

      <button type="button" (click)="closeTicket()">Clôturer le ticket</button>
    </form>


</div>
